{% extends 'base.html' %}

{% block content %}

  <h2>Da Vinci is drawing</h2>
  <h2>Please be patient while you wait</h2>
  <div class="loading-cat">
    <div class="cat-body">
      <div class="cat-animation-mask">
        <div class="cat-head">
          <div class="cat-face"></div>
          <div class="cat-ear"></div>
          <div class="cat-hand"></div>
          <div class="cat-eye"></div>
          <div class="cat-eye-light"></div>
          <div class="cat-mouth"></div>
          <div class="cat-beard left"></div>
          <div class="cat-beard right"></div>
        </div>
        <div class="cat-foot">
          <div class="cat-belly"></div>
          <div class="cat-leg"></div>
          <div class="cat-tail"></div>
        </div>
      </div>
    </div>
  </div>
  <blockquote>Inspired from <a href="https://dribbble.com/domaso">domaso</a>'s dribbble: <a href="https://dribbble.com/shots/3197970-Loading-cat">Loading cat</a></blockquote>
{% endblock %}