{% extends 'base.html' %}

{% block content %}
<a href="{{ url_for('index')}}">Home</a>
  <h2>Processed Image</h2>
  <p>Filename: {{ filename }}</p>
  {% if filename %}
  <img src="{{ url_for('static', filename='processEdge/' + filename) }}" alt="Preprocessed Image">
  <p>Processing Result: {{ result }}</p>
  {% endif %}
  {% if result %}
  <img src="{{ url_for('static', filename='edges/' + result) }}" alt="Processed Image">
  <button><a href="{{ url_for('drawing') }}">Proceed</a></button>
  {% endif %}
{% endblock %}